
/* Apply styles to the GridPane */
#root {
    -fx-background-color: #f0f0f0; /* Light gray background color */
}

/* Apply styles to the Load File Button */
#loadFileButton {
    -fx-pref-height: 30px;
    -fx-pref-width: 150px;
    -fx-font-size: 14px;
    -fx-background-color: #4CAF50; /* Green background color */
    -fx-text-fill: white;
    -fx-border-radius: 5px;
}

#loadFileButton:hover {
    -fx-background-color: #45A049; /* Darker green background color on hover */
}

/* Apply styles to the Labels */
#statusFileXML, #filePath {
    -fx-font-size: 16px;
    -fx-background-color: #ffffff; /* White background color */
    -fx-text-fill: #333333; /* Dark gray text color */
    -fx-border-color: #cccccc; /* Light gray border color */
    -fx-border-width: 1px;
    -fx-border-radius: 5px;
    -fx-padding: 5px 10px;
}

/* Apply specific style to filePath Label with class "colored-frame-label" */
.colored-frame-label {
    -fx-background-color: #f0f0f0; /* Light gray background color */
    -fx-text-fill: #007BFF; /* Blue text color */
}
.queue-pane {
    -fx-border-color: #000000; /* Border color (black in this example) */
    -fx-border-width: 2px;    /* Border width (2 pixels in this example) */
    -fx-border-radius: 5px;   /* Border radius (rounded corners, adjust as needed) */
    -fx-background-color: #FFFFFF; /* Background color (white in this example) */
}
.queue-anchor-pane {
    -fx-border-color: black; /* Border color */
    -fx-border-width: 2px;   /* Border width */
    -fx-border-radius: 5px;  /* Border radius for rounded corners */
}

.black-frame-hbox {
    -fx-border-color: black; /* Border color */
    -fx-border-width: 2px;   /* Border width */
    -fx-border-radius: 5px;  /* Border radius for rounded corners */
}